body {
  overflow-y: scroll;
}

.hover-button:hover {
  opacity: .5;
}

.hover-button {
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(170, 170, 170, 0.36);
  -moz-box-shadow: 0px 0px 6px 2px rgba(170, 170, 170, 0.36);
  box-shadow: 0px 0px 6px 2px rgba(170, 170, 170, 0.36);
}

div.ant-layout-sider-trigger {
  position: fixed;
  bottom: 0;
  z-index: 1;
  height: 48px;
  color: #fff;
  line-height: 48px;
  text-align: center;
  background: #383838;
}

.ant-menu-item {
  padding: 0px 10px !important
}

.ant-menu-submenu-title {
  padding: 0px 10px !important
}

.ant-menu-submenu-arrow {
  color: rgba(0, 0, 0, 0.25) !important
}

.ant-input {
  border-radius: 5px !important;
}

.ant-form-item-has-success .anticon-check-circle svg {
  display: none;
}

.ant-form-item .ant-form-item-label {
  padding: 0px !important;
}

.ant-select-selector {
  border-radius: 5px !important;
}

.ant-modal-content {
  border-radius: 20px !important;
}

.ant-btn {
  border-radius: 5px !important;
}

.ant-table {
  border-radius: 5px !important;
}
.ant-collapse {
  border-radius: 0px !important;
  background: #fff !important;
  border: 0px !important;
}

.ant-collapse-item {
  border: 1px solid  #F1F1F1 !important;
}


.ant-collapse * {
  background: #fff !important;
}

.ant-collapse-header {
  border-radius: 5px !important;
  /* border: 1px solid #06645e !important; */
  margin: 10px 0px !important;
}

.ant-collapse-content-box {
  padding: 0px 0px 0px 10px !important;
}

.pad20 {
  padding: 20px !important;
  font-size: 18px !important;
}

.mobile-nav {
  visibility: visible;
}
