@import 'antd/dist/antd.css';

@font-face {
  font-family: 'Revalia';
  src: local('Revalia'), url(./fonts/Revalia-Regular.ttf) format('truetype');
  font-weight: normal;
}


div.ant-layout-sider-trigger {
  position: fixed;
  bottom: 0;
  z-index: 1;
  height: 48px;
  color: #fff;
  line-height: 48px;
  text-align: center;
  background: #383838;
}

li.ant-menu-item.ant-menu-item-selected::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: 0px solid #fff;
  -webkit-transform: scaleY(0.0001);
  transform: scaleY(0.0001);
  opacity: 0;
  -webkit-transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
    -webkit-transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  content: '';
}

.ant-input {
  border-radius: 5px !important;
}

.ant-form-item-has-success .anticon-check-circle svg {
  display: none;
}

.ant-form-item .ant-form-item-label {
  padding: 0px !important;
}

.ant-select-selector {
  border-radius: 5px !important;
}

.ant-modal-content {
  border-radius: 20px !important;
}

.ant-btn {
  border-radius: 5px !important;
}

.ant-table {
  border-radius: 5px !important;
}
.ant-collapse {
  border-radius: 5px !important;
  /* border: 1px solid #06645E !important; */
  background-color: 'white' !important;
}

.ant-collapse-header {
  border-radius: 5px !important;
  border: 1px solid #06645e !important;
  margin: 10px 0px !important;
}

.ant-collapse-content-box {
  padding: 0px 0px 0px 10px !important;
}
